@model IEnumerable<ksiazki_crud.Models.ksiazka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
